server:
  runaddress: "0.0.0.0:8080"

logger:
  level: "debug"
  path: "logs/server.log"
  errorpath: "logs/server_error.log"
  maxsize: 10 # Максимальный размер файла в МБ перед ротацией
  maxbackups: 5 # Максимальное количество старых файлов логов для хранения
  maxage: 30 # Максимальное количество дней для хранения старых файлов логов
  compress: true # Сжимать ротированные файлы логов

storage:
  # Тип хранилища: "file", "postgres", "sqlite"
  type: "sqlite"

  # Параметры для file storage
  # datapath: "data"

  # Параметры для PostgreSQL
  # connection_string: "postgres:///loyality_system?sslmode=disable"
  # migrations_path: "../../../migrations/postgres"

  # Параметры для SQLite
  db_path: "data/loyality_system.db"
  migrations_path: "./migrations/sqlite"

admin:
  jwt_secret: "sirius-rating-system-secret-key-2025"
  static_dir: "./static/admin"
  admins_path: "./cmd/telegrambot/admin/admins.json"

api:
  token: "sirius-rating-system-api-token-2025"
