# Игнорировать директории с данными и логами
data/
logs/

# Игнорировать Git-директории
.git/
.github/
.gitignore

# Игнорировать временные файлы
*.log
*.tmp
*.swp

# Игнорировать файлы документации
*.md
docs/

# Игнорировать файлы Docker
.dockerignore
docker-compose.yml

# Игнорировать тестовые файлы
*_test.go
