server/loyalityserver
server/userbot
server/adminbot
server/main
server/admin

server/cmd/loyalityserver/data/
server/cmd/loyalityserver/logs/
server/cmd/loyalityserver/main
server/cmd/loyalityserver/config.yaml
server/cmd/telegrambot/api_token.txt
server/cmd/telegrambot/admin/token.txt
server/cmd/telegrambot/admin/admins.json
server/cmd/telegrambot/user/token.txt

local-config/
logs/
*.log
.env
